<?xml version="1.0"?>
<config>
  <modules>
    <PMTECH_Splitorder>
      <version>0.1.0</version>
    </PMTECH_Splitorder>
  </modules>
  <global>
    <helpers>
      <splitorder>
        <class>PMTECH_Splitorder_Helper</class>
      </splitorder>
    </helpers>
	<models>
	  <splitorder>
		<class>PMTECH_Splitorder_Model</class>
		<resourceModel>splitorder_mysql4</resourceModel>
	  </splitorder>
			<checkout>
				<rewrite>
					<type_onepage>PMTECH_Splitorder_Model_Checkout_Type_Onepage</type_onepage>
				</rewrite>
			</checkout>
	</models>
  </global>
</config> 